.monaco-editor {
  .monaco-menu {
    .action-item {
      margin: 0;
    }
    .icon {
      text-indent: 0;
      height: auto;
      width: auto;
    }
  }
  .actions-container {
    .action-item {
      margin-top: 0;
    }
  }
}
