.editor-pane {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  min-height: 0;
  min-width: 0;

  .tab {
    height: 1.9rem;
    min-width: 0px;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    flex: 0 0 auto;

    .tab-item {
      flex-shrink: 0;
    }
  }

  &.editor-pane__full-screen {
    flex: 1 0 100%;
  }

  .monaco-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
  }
}

.view-pane-tab {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
