@import "../../../variables.scss";

.project-files {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 0rem;

    .dropdown {
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
    }
  }

  .file-tree {
    border: 1px solid $border-color-dark;
    padding-right: 0.1rem;
    overflow-y: auto;
    min-height: 0px;
    flex-grow: 1;

    .file-node {
      padding-left: 0.8rem;
    }

    .file {
      .preview {
        visibility: hidden;

        &:hover {
          color: $primary-color;
        }
      }

      &:hover {
        background: $secondary-color;

        .fa:hover {
          color: $primary-color;
        }

        .main-file {
          visibility: visible;
        }

        .preview {
          visibility: visible;
        }

        .actions {
          visibility: visible;
          border: 1px solid $primary-color;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .ul {
        margin: 0rem;
        padding: 0rem;
      }
      .actions {
        border: 1px solid $border-color-light;
        padding: 0.1rem;
        visibility: hidden;
      }
      .main-file {
        visibility: hidden;
      }
    }
  }
}
