@import "../variables";

.footer {
  background-color: $bg-color-toolbar;
  color: $font-color-toolbar;
  text-align: center;
  font-size: 0.6rem;
  height: 1.2rem;

  a {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
