@import "../variables";

.header {
  background-color: $bg-color-toolbar;
  color: $font-color-toolbar;
  flex-shrink: 0;
  padding: 0.3rem;

  .fork-button {
    margin-right: 0.4rem;
  }
  .user-icon-button {
    margin-left: 0.4rem;
  }

  .btn-debug {
    flex-shrink: 0;
  }
}
.logo {
  font-family: "Comfortaa", cursive;

  small {
    font-size: 0.6rem;
  }
}
