@import "../variables.scss";

.index-page {
  width: 100%;
  align-self: center;
  flex-grow: 1;
  padding-left: 7.5%;
  padding-right: 7.5%;
}
.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-14 {
  padding-top: 56px;
  padding-bottom: 56px;
}
.hero-header {
  padding-top: 0 !important;
  font-weight: 600;
  font-style: normal;
  font-size: 1.6rem;
}
.jumbotron-home {
  padding-top: 5%;
  margin-left: -10%;
  margin-right: -10%;
  background-color: inherit;
  min-height: 95vh;
  align-items: center;
  display: flex;
  background-image: url("/Hyperapp_banner.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
.btn-large-font {
  font-size: 1.4em !important;
  padding: 10px;
  height: 2.5em !important;
  width: 100%;
}
.btn-medium-font {
  font-size: 1.2em !important;
  padding: 10px;
  height: 2.5em !important;
  width: 100%;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 0rem;
  border-radius: 0.3rem;
}
.create-project {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;

  .card {
    width: 280px;
    margin: 6px;
    padding: 2px;
    border: 2px solid $light-color;
    background: (0, 0, 0, 0);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    &.active {
      background-color: $bg-color-dark;
      border: 2px solid #00aeef;
      #hyperapp {
        background-color: $primary-color;
      }
      #blank {
        color: $primary-color;
      }
      h5 {
        color: $primary-color;
      }
    }
  }
}
.padding-card {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
}
.search-field {
  border-width: 0px !important;
}
.font-light {
  font-weight: 300;
}
.white-color {
  color: #fff;
  font-weight: 500;
  &:active,
  &:hover,
  &:focus {
    color: #000;
  }
}
