@import "../variables.scss";

.index-page {
  width: 80%;
  margin-top: 1rem;
  align-self: center;
  flex-grow: 1;
}

.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-14 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.hero-header {
  padding-top: 0 !important;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
}

.hero-subheader {
  font-weight: 300;
  font-size: 23px !important;
  line-height: 1.1em;
}

.jumbotron-home {
  padding-top: 5%;
}

.btn-large-font {
  font-size: 1.4em !important;
  padding: 10px;
  height: 2.5em !important;
  width: 100%;
}

.btn-medium-font {
  font-size: 1.2em !important;
  padding: 10px;
  height: 2.5em !important;
  width: 100%;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 0rem;
  border-radius: 0.3rem;
}

.set-primary {
  color: $primary-color;
}

.create-project {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;

  .card {
    width: 280px;
    margin: 11px;
    padding: 2px;
    border: 1px solid $border-color-dark;
    background-color: $bg-color;

    &.active {
      background-color: $bg-color-dark;
      border: 5px solid $primary-color-dark;
      padding: 0px;
      margin: 10px;
    }
  }
}
.padding-card {
  padding-left: 11px;
  padding-right: 11px;
}
