@import "./index.scss";

.run-action-item-count {
  color: orange;
}

.run-action-item {
  margin: 0rem;
  width: 100%;

  .item-link {
    display: block;
    color: $body-font-color;

    &:hover {
      background-color: $secondary-color-dark;
      text-decoration: none;
      color: $body-font-color;
    }

    &:focus {
      text-decoration: none;
    }

    &.selected {
      background-color: $secondary-color;
      font-weight: bold;
      color: $body-font-color;
    }
  }

  .icon:hover {
    color: $primary-color;
  }
}
