// Core variables
$version: "0.5.1";

// Core features
$rtl: false !default;

// Primary color: font color for links, buttons, etc
// background color for primary buttons
$primary-color: #56a3d7 !default; //#56a3d7
$primary-color-dark: darken($primary-color, 15%) !default;
$primary-color-light: lighten($primary-color, 15%) !default;

// Secondary color: background for hovers (button, menu, etc...)
//  -> should be between background and primary
$secondary-color: #585858 !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;

// Border colors
$border-color: #afafaf !default;
$border-color-light: lighten($border-color, 10%) !default;
$border-color-dark: darken($border-color, 10%) !default;

// Background colors
$bg-color: #221f22 !default; //#292929
$bg-color-dark: darken($bg-color, 10%) !default;
$bg-color-light: lighten($bg-color, 10%) !default;

// Font color
$body-font-color: #ddd !default;
$body-font-color-light: lighten($body-font-color, 30%) !default;
$body-font-color-dark: darken($body-font-color, 30%) !default;

// Input colors
$bg-color-input: lighten($bg-color, 60%) !default; //#221f22
$input-font-color: darken($body-font-color-dark, 30%);
$placeholder-font-color: darken($body-font-color, 40%) !default;

// Toolbars colors
$bg-color-toolbar: darken($bg-color, 5%) !default;
$font-color-toolbar: darken($body-font-color, 5%) !default;

// Text color for primary stuff & on hover
$light-color: #fff !default;

// Gray colors
$dark-color: #454d5d !default;
$gray-color: #1e2428 !default; //#221f22
$gray-color-dark: darken($gray-color, 25%) !default;
$gray-color-light: lighten($gray-color, 20%) !default;

// Control colors
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #e80000 !default;

// Other colors
$code-color: #e06870 !default;
$highlight-color: #ffe9b3 !default;
$body-bg: $bg-color !default;
$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 5%) !default;

// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$base-font-family: "Montserrat", sans-serif;
$mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier,
  monospace !default;
$fallback-font-family: "Helvetica Neue", sans-serif !default;
$cjk-zh-font-family: $base-font-family, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", $fallback-font-family !default;
$cjk-jp-font-family: $base-font-family, "Hiragino Sans",
  "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo,
  $fallback-font-family !default;
$cjk-ko-font-family: $base-font-family, "Malgun Gothic", $fallback-font-family !default;
$body-font-family: $base-font-family, $fallback-font-family !default;

// Unit sizes
$unit-o: 0.05rem !default;
$unit-h: 0.1rem !default;
$unit-1: 0.2rem !default;
$unit-2: 0.4rem !default;
$unit-3: 0.6rem !default;
$unit-4: 0.8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;

// Font sizes
$html-font-size: 20px !default;
$html-line-height: 1.5 !default;
$font-size: 0.8rem !default;
$font-size-sm: 0.7rem !default;
$font-size-lg: 0.9rem !default;
$line-height: 1rem !default;

// Sizes
$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;
$border-radius: $unit-h !default;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$control-size: $unit-9 !default;
$control-size-sm: $unit-7 !default;
$control-size-lg: $unit-10 !default;
$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $unit-2 * 0.75 !default;
$control-padding-x-lg: $unit-2 * 1.5 !default;
$control-padding-y: ($control-size - $line-height) / 2 - $border-width !default;
$control-padding-y-sm: ($control-size-sm - $line-height) / 2 - $border-width !default;
$control-padding-y-lg: ($control-size-lg - $line-height) / 2 - $border-width !default;
$control-icon-size: 0.8rem !default;

$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;
