@import "./variables";

@import "node_modules/spectre.css/src/_mixins";

// Reset and dependencies
@import "node_modules/spectre.css/src/_normalize";
@import "node_modules/spectre.css/src/_base";

// Core classes
@import "node_modules/spectre.css/src/_typography";
@import "node_modules/spectre.css/src/_asian";
@import "node_modules/spectre.css/src/_tables";
@import "node_modules/spectre.css/src/_buttons";
@import "node_modules/spectre.css/src/_forms";
@import "node_modules/spectre.css/src/_labels";
@import "node_modules/spectre.css/src/_codes";
@import "node_modules/spectre.css/src/_media";

// Layout
@import "node_modules/spectre.css/src/_layout";
@import "node_modules/spectre.css/src/_navbar";

// Components
// @import "node_modules/spectre.css/src/_accordions";
// @import "node_modules/spectre.css/src/_autocomplete";
// @import "node_modules/spectre.css/src/_avatars";
// @import "node_modules/spectre.css/src/_badges";
// @import "node_modules/spectre.css/src/_breadcrumbs";
// @import "node_modules/spectre.css/src/_bars";
@import "node_modules/spectre.css/src/_cards";
// @import "node_modules/spectre.css/src/_chips";
@import "node_modules/spectre.css/src/_dropdowns";
@import "node_modules/spectre.css/src/_empty";
@import "node_modules/spectre.css/src/_menus";
@import "node_modules/spectre.css/src/_modals";
@import "node_modules/spectre.css/src/_navs";
@import "node_modules/spectre.css/src/_pagination";
// @import "node_modules/spectre.css/src/_panels";
// @import "node_modules/spectre.css/src/_popovers";
// @import "node_modules/spectre.css/src/_steps";
@import "node_modules/spectre.css/src/_tabs";
// @import "node_modules/spectre.css/src/_tiles";
// @import "node_modules/spectre.css/src/_toasts";

// Tooltips
.tooltip {
  position: relative;
  &::after {
    background: $bg-color-light;
    border-radius: $border-radius;
    bottom: 100%;
    color: $body-font-color-light;
    content: attr(data-tooltip);
    display: block;
    font-size: $font-size-sm;
    left: 50%;
    max-width: $control-width-sm;
    opacity: 0;
    overflow: hidden;
    padding: $unit-1 $unit-2;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-20%, $unit-2);
    transition: all 0.2s ease;
    white-space: pre;
    z-index: $zindex-3;
  }
  &:focus,
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-20%, -$unit-1);
    }
  }
  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      transform: translate(-20%, -$unit-2);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-20%, $unit-1);
      }
    }
  }
}

// Utility classes
// @import "node_modules/spectre.css/src/_animations";
@import "node_modules/spectre.css/src/_utilities";

html,
body {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn {
  color: $primary-color;
  // border-color: $border-color;

  &:hover {
    background: $bg-color-light;
  }
}

.form-input {
  background-color: $bg-color-toolbar;
  color: $input-font-color;
  border-width: 0px;
  border-bottom-width: 1px;

  &::placeholder {
    color: $placeholder-font-color;
    opacity: 1;
  }
}

// this is to override the spectre defaults
.form-group {
  .form-select {
    background-color: $bg-color-input !important;
    color: $input-font-color;
  }
}

.form-input-hint {
  margin: 0;
  text-align: left;
}

.form-select {
  -webkit-appearance: none;
  appearance: none;
}

.form-group .has-icon-right i.loading {
  background-color: transparent;

  &::after {
    border: $border-width-lg solid $body-font-color;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

.empty {
  margin-top: 10px;
  color: inherit;
  background-color: lighten($bg-color-light, 10%);
}

// Button Secondary
.btn-secondary {
  background: $secondary-color-light;
  border-color: $secondary-color-dark;
  color: $light-color;

  &:focus,
  &:hover {
    background: darken($secondary-color-dark, 2%);
    border-color: darken($secondary-color-dark, 5%);
    color: $light-color;
  }
  &:active,
  &.active {
    background: darken($secondary-color-dark, 4%);
    border-color: darken($secondary-color-dark, 7%);
    color: $light-color;
  }
  &.loading {
    &::after {
      border-bottom-color: $light-color;
      border-left-color: $light-color;
    }
  }
}
.background-dark {
  background-color: $bg-color;
  color: $body-font-color;
}
.resizer {
  outline-width: 0px !important;
}
.title-padding {
  padding-top: 0.8em;
  padding-bottom: 0.4em;
}
.large-font {
  font-size: 1.1em;
}
.primary-color {
  color: $light-color;

  &:hover {
    background-color: $primary-color;
    color: $light-color !important;
  }

  &.selected {
    background-color: $primary-color-dark;
    font-weight: bold;
    &:hover {
      background-color: $primary-color-dark;
    }
  }
}
.set-primary {
  color: $primary-color;
}
.huge-font {
  font-size: 1.5em;
}
.px-4 {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.py-4 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.btn-green {
  background: #3cb878;
  border-color: darken(#3cb878, 5%);
  color: $light-color;

  &:focus,
  &:hover {
    background: darken(#3cb878, 50%);
    border-color: darken(#3cb878, 55%);
    color: $light-color;
  }
  &:active,
  &.active {
    background: darken(#3cb878, 9%);
    border-color: darken(#3cb878, 12%);
    color: $light-color;
  }
  &.loading {
    &::after {
      border-bottom-color: $light-color;
      border-left-color: $light-color;
    }
  }
}
.title {
  text-transform: uppercase;
}
