@import "./variables";

@import "node_modules/spectre.css/src/_mixins";

// Reset and dependencies
@import "node_modules/spectre.css/src/_normalize";
@import "node_modules/spectre.css/src/_base";

// Core classes
@import "node_modules/spectre.css/src/_typography";
@import "node_modules/spectre.css/src/_asian";
@import "node_modules/spectre.css/src/_tables";
@import "node_modules/spectre.css/src/_buttons";
@import "node_modules/spectre.css/src/_forms";
@import "node_modules/spectre.css/src/_labels";
@import "node_modules/spectre.css/src/_codes";
@import "node_modules/spectre.css/src/_media";

// Layout
@import "node_modules/spectre.css/src/_layout";
@import "node_modules/spectre.css/src/_navbar";

// Components
// @import "node_modules/spectre.css/src/_accordions";
// @import "node_modules/spectre.css/src/_autocomplete";
// @import "node_modules/spectre.css/src/_avatars";
// @import "node_modules/spectre.css/src/_badges";
// @import "node_modules/spectre.css/src/_breadcrumbs";
// @import "node_modules/spectre.css/src/_bars";
@import "node_modules/spectre.css/src/_cards";
// @import "node_modules/spectre.css/src/_chips";
@import "node_modules/spectre.css/src/_dropdowns";
@import "node_modules/spectre.css/src/_empty";
@import "node_modules/spectre.css/src/_menus";
@import "node_modules/spectre.css/src/_modals";
@import "node_modules/spectre.css/src/_navs";
// @import "node_modules/spectre.css/src/_pagination";
// @import "node_modules/spectre.css/src/_panels";
// @import "node_modules/spectre.css/src/_popovers";
// @import "node_modules/spectre.css/src/_steps";
@import "node_modules/spectre.css/src/_tabs";
// @import "node_modules/spectre.css/src/_tiles";
// @import "node_modules/spectre.css/src/_toasts";

// tooltips
// Tooltips
.tooltip {
  position: relative;
  &::after {
    background: rgba($dark-color, 0.9);
    border-radius: $border-radius;
    bottom: 100%;
    color: $light-color;
    content: attr(data-tooltip);
    display: block;
    font-size: $font-size-sm;
    left: 50%;
    max-width: $control-width-sm;
    opacity: 0;
    overflow: hidden;
    padding: $unit-1 $unit-2;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-20%, $unit-2);
    transition: all 0.2s ease;
    white-space: pre;
    z-index: $zindex-3;
  }
  &:focus,
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-20%, -$unit-1);
    }
  }
  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      transform: translate(-20%, -$unit-2);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-20%, $unit-1);
      }
    }
  }
}

// Utility classes
// @import "node_modules/spectre.css/src/_animations";
@import "node_modules/spectre.css/src/_utilities";

html,
body {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
